<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:fragment="layout(content)">
<head>
    <meta charset="UTF-8">
    <title>Travel with Friends and Share Your Expenses</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/uikit.min.css}">
    <script th:src="@{/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/js/uikit.js}"></script>
    <script th:src="@{/js/uikit-icons.js}"></script>
</head>
<body>

<div th:insert="${content}" class="content"></div>

</body>
</html>