<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::.container})}">
<body>

<div class="container">

    <div class="uk-margin-large-top uk-padding uk-position-top-center uk-card-hover uk-card-large">

        <h1>Dodaj wydatek:</h1>

        <form class="uk-form-horizontal uk-margin-large" style="width: 500px" th:object="${expense}"
              th:action="@{/trip-app/expenses}"
              method="post">

            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text">Kwota</label>
                <div class="uk-form-controls">
                    <input th:field="*{amount}" class="uk-input" id="form-horizontal-text" type="number" step="0.01"
                           placeholder="Wprowadź hajsy jakie wydałaś/eś...">
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text">Data</label>
                <div class="uk-form-controls">
                    <input th:field="*{date}" class="uk-input" id="form-horizontal-text" type="date"
                           placeholder="Pamiętasz kiedy tyle wydałaś/eś?">
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text">Opis</label>
                <div class="uk-form-controls">
                    <input th:field="*{description}" class="uk-input" id="form-horizontal-text" type="text"
                           placeholder="Założę się, że nie pamiętasz na co...">
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-select">Użytkownik</label>
                <div class="uk-form-controls">
                    <select th:field="*{user}" class="uk-select" id="form-horizontal-select" type="">
                        <option th:each="u : ${users}" th:value="${u}" th:text="${u.name}"></option>
                    </select>
                </div>
            </div>

            <input class="uk-button uk-button-large uk-button-primary" type="submit" value="Zapisz">
            <a th:href="@{./}"><input class="uk-button uk-button-large uk-button-danger" type="button"
                                      value="Anuluj"></a>

        </form>
    </div>
</div>

</body>
</html>