<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::.container})}">
<body>
<div class="container">
    <div class="uk-margin-auto uk-padding uk-position-top-center">
        <h1>Użytkownicy</h1>
        <table class="uk-table uk-table-striped uk-width-auto">
            <thead>
            <tr>
                <th>Lp.</th>
                <th>Nazwa</th>
                <th>Akcje</th>
            </tr>
            </thead>

            <tbody>

            <tr th:each="user: ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td>
                    <a th:href="@{/trip-app/users/{id}(id=${user.id})}">
                        <button uk-icon="pencil" class="uk-button-secondary"></button>
                    </a>
                    <a th:href="@{/trip-app/users/del/{id}(id=${user.id})}">
                        <button uk-icon="trash" class="uk-button-danger"></button>
                    </a>
                </td>
            </tr>

            <td colspan="3" th:if="${users.isEmpty()}"><h3 th:text="#{user.notFound}"></h3><a
                    th:href="@{/trip-app/users/new}"><input
                    class="uk-button uk-button-large uk-button-secondary" type="button" value="Nowy użytkownik"></a>
            </td>

            <td colspan="3" th:if="!(${users.isEmpty()})"><a th:href="@{/trip-app/users/new}"><input
                    class="uk-button uk-button-large uk-button-secondary" type="button" value="Kolejny użytkownik"></a>
            </td>
            </tbody>

        </table>

        <a th:href="@{/trip-app}"><input class="uk-button-large uk-button-primary" type="button" value="Powrót"></a>
    </div>
</div>
</body>
</html>