<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::.container})}">
<body>
<div class="container">

    <div class="uk-flex" style="width: fit-content" th:object="${user}">

        <div>
            <span th:text="${user.name}" style="margin-top: auto; margin-bottom: auto" class="uk-text-lead"></span>
            <a th:href="@{/trip-app/users/{id}(id=${user.id})}">
                <button uk-icon="pencil" class="uk-button-secondary"></button>
            </a>
            <a th:href="@{/trip-app/users/del/{id}(id=${user.id})}">
                <button uk-icon="trash" class="uk-button-danger"></button>
            </a>
        </div>

    </div>


    <table class="uk-table">
        <thead>
        <tr>
            <th>Lp.</th>
            <th>Kwota</th>
            <th>Data</th>
            <th>Opis</th>
            <th>Akcje</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>1</td>
            <td>5.99 PLN</td>
            <td>15.09.2020</td>
            <td>Coca Cola</td>
            <td>
                <button uk-icon="pencil" class="uk-button-secondary"></button>
                <button uk-icon="trash" class="uk-button-danger"></button>
            </td>
        </tr>
        </tbody>

    </table>

    <h2>SUMA: 5.99 PLN</h2>

    <a th:href="@{/trip-app}"><input class="uk-button-large uk-button-primary" type="button" value="Powrót"></a>

</div>
</body>
</html>